<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<h1>Body Mass Index</h1>
<div id="app">
    <span>Waga: </span>
    <input id="weight" type="number" v-model="weight"> kg<br>
    <span>Wzrost: </span>
    <input id="height" type="number" v-model="height"> cm
    <br>
    <p>Wskaźnik BMI: {{ calculate }} </p>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            BMI: 0,
            weight: 2,
            height: 2
        },
        computed: {
            calculate(){
                return this.weight / (this.height/100 * this.height/100);
            }
        }
        });
</script>

</body>
</html>